@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 0, 0, 0.281);
  font-family: "Fira Sans", sans-serif;
  background: linear-gradient(rgb(70, 36, 4), white, gray, whitesmoke);
  height: 100vh;
}

/* ============ Nav Bar ========== */

.nav-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 40px;
}

.open-btn {
  position: absolute;
  top: 20px;
  left: 10px;
  z-index: 3;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 3;
}

.nav.visible {
  transform: translateX(0);
}

.nav-black {
  background-color: #7bc2f1;
  width: 60%;
  max-width: 480px;
  min-width: 320px;
  transition-delay: 0.4s;
}

.nav-black.visible {
  transition-delay: 0s;
}

.nav-red {
  background-color: rgba(136, 58, 13, 0.884);
  width: 95%;
  transition-delay: 0.2s;
}

.nav-red.visible {
  transition-delay: 0.2s;
}

.nav-white {
  background-color: rgba(0, 0, 0, 0.363);
  width: 95%;
  height: 100%;
  padding: 40px;
  position: relative;
}

.nav-white.visible {
  transition-delay: 0.4s;
}

.close-btn {
  position: fixed;
  top: 40px;
  right: 40px;
}

.list {
  list-style-type: none;
  padding: 0;
}

.list li {
  margin: 20px 0;
}

.list li a {
  color: white;
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.list ul {
  list-style-type: none;
  padding-left: 20px;
}

/* ========Grow Text======== */
.grow {
  transition: all 0.2 ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

/* ===============SHOWCASE===========*/

#showcase {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-content: center;
  text-align: center;
  align-items: center;
}

.span1 {
  grid-column: 1 / span 12;
  background: url(/img/gm2.jpg) no-repeat center/cover;
  color: white;
  font-weight: bold;
  font-size: 40px;
  font-family: "Fira Sans", sans-serif;
  text-transform: uppercase;
}

.span2 {
  grid-column: 1 / span 6;
  background: url(/img/gm3.jpg) no-repeat center/cover;
}

.span-a {
  grid-column: 7 / span 12;
  padding: 1rem;
  font-size: 20px;
}

.span3 {
  grid-column: 7 / span 12;
  background: url(/img/sec3.jpg) no-repeat center/cover;
}

.span-b {
  grid-column: 1 / span 6;
  font-size: 20px;
}
.span4 {
  grid-column: 1 / span 6;
  background: url(/img/godismoving1.jpg) no-repeat center/cover;
}

.span-c {
  grid-column: 7 / span 12;
  font-size: 20px;
}

.section {
  display: grid;
  place-items: center;
  text-align: center;
  border: 1px solid black;
  padding: 1rem;
  margin-top: 3rem;
  margin-right: 20px;
  height: 300px;
  font-weight: bold;
  letter-spacing: 1px;
}
